= render 'posts/header'
-# .user_show
-#   = @nickname
-#   さんの投稿一覧
-#   - @posts.each do |post|
-#     = render partial: "posts/post", locals: { post: post }
-#   = paginate(@posts)
= render 'posts/footer'