.main
  .main_header
    .main_header_box
      .main_header_box_center
        Mott
      .main_header_box_right
        = fa_icon 'user', class: 'icon'
        = fa_icon 'search', class: 'icon'
  .main_contents
    .main_contents_data
      .main_contents_name
        yuyafukuoka
      .main_contents_date