= render "header"
.main_contents
  = image_tag "uyunienko.jpg"
  .main_contents_data
    .main_contents_data_name
      Nickname: cris
    .main_contents_data_place
      Place: ウユニ塩湖
  .main_contents_text
= render "footer"