= render "header"
.main_contents
  -# - @post.each do |post|
  = image_tag "uyunienko.jpg"
  .main_contents_data
    .main_contents_data_name
      Nickname: cris
    .main_contents_data_place
      Place: ウユニ塩湖
  .main_contents_text
    とても綺麗だった。また行きたい！！！
= render "footer"